.title{
  font-family: "Relaway Light";
  font-size: 63%;
  font-style: normal;
  source: url(/home/rulo/Escritorio/Curriculum/Tipografía/Raleway-Light.ttf);
}

.p{
  font-family: "Relaway";
  font-size: 11%;
  font-style: normal;
  src: url(/home/rulo/Escritorio/Curriculum/Tipografía/Raleway-Thin.ttf);
  
}
