.principal {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 120%;
  font-family: Raleway;
  font-weight: 400;
  color: #ffffff;
  background: #D1F2EB;
}
.mayusculas {
  text-transform: uppercase;
}

.perfil-envoltura {
  border: 2px solid cyan;
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
  position: relative;
  left: calc(50% - 433px / 2);
}

.perfil-envoltura > .Personal {
  border-radius: 50%;
  width: 433px;
  height: 432px;
}

.perfil-envoltura > .satelite {
  width: 50px;
  height: 50px;
  position: absolute;
}

.perfil-envoltura > .satelite img {
  cursor: pointer;
  width: 150%;
}

.perfil-envoltura > .Casa {
  bottom: 108%;
  left: calc(50% - 25px);
}

.perfil-envoltura > .Logros{
  bottom: 108%;
  right: absolute;
  top: -7%;
}

.perfil-envoltura .informacion {
  background-color: rgba(255,255,255,0.9);
  display: none;
  padding: 8px;
  position: absolute;
  margin: 0;
  width: auto;
  top: 0;
  text-align: justify;
}

.perfil-envoltura .informacion > input{
  position:  absolute;
  left: 100%;
  top: 0;
  cursor: pointer;
}

.perfil-envoltura > .Perfil {
  top: 0;
  right: 0;
}
/*No logro poner color a class="colorlogros"*/
.perfil-envoltura > .logros > span .colorlogros{
  color: #F7C064
}

.perfil-envoltura > .Formación > .coloruni {
  color: #FF7F50
}

.perfil-envoltura > .Cocntacto {
  bottom: auto;
  right: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
}

.perfil-envoltura > .Formación {
  top: 100px;
  rigth: 300px:
}

.perfil-envoltura > .email {
  top: 102%;
  left: calc(50% - 25px);
  right: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.perfil-envoltura > .Aficiones {
  top: 95%;
  right: 50px;
  width: 48px;
  height: 50px;
}

.perfil-envoltura > .colorexp {
  color: #4ECC8E
}

.perfil-envoltura > .Experiencia {
  top: 240px;
  right: cal(50% - 80px)
}

.twitter {
  top: 0px;
  right: 50px;
}

.pasatiempos {
  right: 0px;
  width: 50px;
}
