.mayusculas {
  text-transform: uppercase;
}

.perfil-envoltura {
  border: 2px solid cyan;
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
  position: relative;
  left: calc(50% - 433px / 2);
}

.perfil-envoltura > .Personal {
  border-radius: 50%;
}

.perfil-envoltura > .satelite {
  width: 50px;
  height: 50px;
  position: absolute;
}

.perfil-envoltura > .satelite img {
  cursor: pointer;
  width: 150%;
}

.perfil-envoltura > .Casa {
  bottom: 108%;
  left: calc(50% - 25px);
}

.perfil-envoltura > .Logros{
  bottom: 108%;
  right: absolute;
  top: -7%;
}

.perfil-envoltura .informacion {
  background-color: rgba(255,255,255,0.9);
  display: none;
  padding: 8px;
  position: absolute;
  margin: 0;
  width: auto;
  top: 0;
  text-align: justify;
}

.perfil-envoltura .informacion > input{
  position:  absolute;
  left: 100%;
  top: 0;
  cursor: pointer;
}

.perfil-envoltura > .Perfil {
  top: 0;
  right: 0;
}
/*No logro poner color a class="colorlogros"*/
.perfil-envoltura > span .colorlogros{
  color: #F7C064
}

.perfil-envoltura > .coloruni {
  color: #FF7F50
}

.perfil-envoltura > .Cocntacto img {
  width: -50px;
  height: -50px;
  position: absolute;
}
